{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    {% for product in products%}
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card">
                <div class="card-body">
                    {{ product }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}